body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 0;
  margin: 0;
  line-height: 1.6; }

ul, ol, li {
  list-style: none;
  padding-left: 0; }

blockquote {
  margin: 1.4em 0;
  padding: 1em 1em 1em 2em;
  border-left: .25em solid; }
  
  
.container {
  max-width: 1280px;
  margin: 0px auto;
  padding: 0 1.5rem;
  width: 85%; }

.flex {
  display: flex; }
  
  .social-icon {
  transition: box-shadow .1s, transform .3s;
  display: inline-block;
  background-size: 100%;
  width: 48px;
  height: 48px;
  text-indent: -999em;
  text-align: left;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 5px; }

.social-icon:hover {
  transform: translateY(-4px);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
  transition-timing-function: linear, cubic-bezier(0.47, 3.02, 0.31, -1.36); }
